{% load i18n %}

<ul>
    <li>
        <strong>{% trans 'Telephone' %}</strong><br>
        {% blocktrans %}
            Our telephone service hours are from 8 a.m. to 9 p.m. <br>
            +34 722 333 428
        {% endblocktrans %}
    </li>
    <li style="margin-top: 2%">
        <strong>{% trans 'Email' %}</strong> <br>
        info@boatsandjoy.com
    </li>
    <li style="margin-top: 2%">
        <strong>{% trans 'Company address' %}</strong> <br>
        C/Omelades 2A 2º 1ª 07012 Palma de Mallorca
    </li>
    <li style="margin-top: 2%">
        <strong>{% trans 'Social networks' %}</strong> <br>
        <a href="" style="color: #212529"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/boatsandjoy/" style="color: #212529"><i class="fa fa-instagram"></i></a>
    </li>
</ul>
