{% load i18n static %}

<footer class="row d-none d-sm-none d-md-block" style="margin-top: 5%">
    <div class="col-sm-12">
        <ul class="list-inline">
            <li class="list-inline-item">
                <span>
                    © Boats&Joy 2020 Copyright / Coded by
                    <span style="text-decoration: underline;">
                        <a href="https://albertopou.dev/" target="_blank" style="color: inherit;">Alberto Pou</a>
                    </span>
                </span>
            </li>
            <li class="list-inline-item">
                / <span style="text-decoration: underline;"><a href="{% static 'aviso_legal.pdf' %}" target="_blank" style="color: inherit;">{% trans 'Legal advice' %}</a></span>
            </li>
            <li class="list-inline-item">
                <span style="text-decoration: underline;"><a href="{% static 'terminos_y_condiciones.pdf' %}" target="_blank" style="color: inherit;">{% trans 'Terms and Conditions' %}</a></span>
            </li>
            <li class="list-inline-item">
                <span style="text-decoration: underline;"><a href="/cookies/" target="_blank" style="color: inherit;">{% trans 'Cookies policy' %}</a></span>
            </li>
        </ul>

    </div>
</footer>
