{% load i18n %}

<section id="searcher" v-show="show_searcher">

    <div class="row">
        <div class="col-sm-12">
            <div id="calendar" class="calendar"></div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div id="loader"></div>
    </div>

    <div class="row">
        <div class="offset-md-4 col-md-4 col-sm-12">
            <button id="search-button" class="btn btn-lg btn-success btn-block" @click="search()">
                {% trans 'Check availability' %}
            </button>
        </div>
    </div>

</section>
