{% load i18n %}

<div id="photo_modal" class="modal fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-responsive" :src="selected_photo_url" alt="" width="100%">
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-outline-primary" @click="next_photo()">
                    {% trans 'Next photo' %}
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

