{% extends 'base.html' %}

{% load static i18n sekizai_tags %}

{% block content %}

    <div class="container">

        <header id="header" class="row">
            <div class="col-sm-12 text-center">
                <h1>{% trans 'Thank you for renting!' %}</h1>
            </div>
        </header>

        <div class="row" style="margin-top: 3%">

            <div class="col-md-6 col-sm-12">
                <div id="payment-success-modal" class="modal-lg" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-body">

                                <blockquote class="blockquote text-center" style="margin-top: 5%">
                                    <p class="mb-0">{% trans 'Thank you for rent in Boats & Joy!' %}</p>
                                    <p class="mb-0">
                                        {% trans 'You will receive an email with the renting confirmation in a few minutes!' %}
                                    </p>
                                    <footer class="blockquote-footer">
                                        {% trans 'Booking locator' %}: <strong>{{ booking.locator }}</strong><br>
                                        {% trans 'Booking for' %} {{ booking.date }} {% trans 'from' %} {{ booking.checkin_hour }} {% trans 'to' %} {{ booking.checkout_hour }}<br>
                                        {% trans 'We advise arriving half an hour earlier' %}
                                    </footer>
                                </blockquote>

                                <blockquote class="blockquote text-center" style="margin-top: 5%">
                                    <p class="mb-0">

                                        <strong>{{ boat.name }}</strong><br>
                                        {{ boat.description }}

                                        <div  id="carousel" class="carousel slide" data-ride="carousel" style="margin-top: 3%">

                                            <!-- Indicators -->
                                            <ul class="carousel-indicators">
                                                {% for photo in boat.photos %}
                                                    {% if forloop.first %}
                                                         <li class="active" data-slide-to="{{ forloop.counter }}"></li>
                                                    {% else %}
                                                        <li class="active" data-slide-to="{{ forloop.counter }}"></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>

                                            <!-- The slideshow -->
                                            <div class="carousel-inner">
                                                {% for photo in boat.photos %}
                                                    {% if forloop.first %}
                                                        <div class="carousel-item active">
                                                            <img class="d-block w-100" src="{{ photo.url }}" alt="{{ photo.description }}">
                                                        </div>
                                                    {% else %}
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="{{ photo.url }}" alt="{{ photo.description }}">
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>

                                        </div>

                                    </p>

                                </blockquote>

                                <p style="margin-top: 10%">
                                    {% include "partials/contact_information.html" %}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="map_section" class="col-md-6 col-sm-12">
                {% include 'partials/map.html' %}
            </div>

        </div>

    </div>

{% endblock content %}
