{% extends 'base.html' %}

{% load static i18n %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div id="contact-modal" class="modal-lg" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content" style="padding-left: 3%; padding-right: 3%; padding-bottom: 3%">

                            <header id="header" class="row" style="margin-bottom: 3%">
                                <div class="col-sm-12 text-center">
                                    <h1><strong>{% trans 'Points of interest' %}</strong></h1>
                                </div>
                            </header>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
