{% extends 'base.html' %}

{% load static i18n %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div id="contact-modal" class="modal-lg" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content" style="padding-left: 3%; padding-right: 3%; padding-bottom: 3%">

                            <header id="header" class="row" style="margin-bottom: 3%">
                                <div class="col-sm-12">
                                    <h1 class="text-center" style="margin-bottom: 5%"><strong>{% trans 'Watersports' %}</strong></h1>
                                    <p>
                                        {% blocktrans %}
                                            Do you want to enjoy the Sea? Looking for something different?
                                        {% endblocktrans %}
                                    </p>
                                    <p>
                                        {% blocktrans %}
                                            We help you to make it the best way it fits you!
                                        {% endblocktrans %}
                                    </p>
                                    <p>
                                        {% blocktrans %}
                                            We work with various companies where you can enjoy your activity with your
                                            friends and family.
                                        {% endblocktrans %}
                                    </p>
                                    <p>
                                        {% blocktrans %}
                                            From a relaxing row with a Stand up Paddle Surf or Kayak to an exciting
                                            Jetski excursion or flying on the sea with Flyboard. Here you can see all our
                                            available activities:
                                        {% endblocktrans %}
                                    </p>
                                </div>
                            </header>

                            <div id="activities_carousel" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    <li class="#demo active" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                    <li class="#demo" data-slide-to="index">
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{% static 'img/activities/Buceo web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Diving' %}</strong></h5>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/Jetski 1 web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Jetski' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Rent & excursion' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/Kayak web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Kayak' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Rent & excursion' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/Kitesurf web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Kitesurf' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Rent & lessons' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                             src="{% static 'img/activities/Paddle Surf web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Paddle surf / SUP' %}</strong></h5>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/Pesca web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Fishing' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Excursion' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/Surf web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Surf' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Rent & lessons' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/vela web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Sailing' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Rent & lessons' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                             src="{% static 'img/activities/Wakeboard 1 web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Wakeboard' %}</strong></h5>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/Windsurf web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Windsurf' %}</strong></h5>
                                            <p style="font-size: 25px"><strong>{% trans 'Rent & lessons' %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/activities/flyboard web.png' %}">
                                        <div class="carousel-caption d-sm-block">
                                            <h5 style="font-size: 40px"><strong>{% trans 'Flyboard' %}</strong></h5>
                                        </div>
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#activities_carousel" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#activities_carousel" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
