{% load static sekizai_tags %}

<!doctype html>
<html lang="es">

    <head>

        {% block headers %}

            <title>Boats & Joy</title>
            <link href="{% static 'img/small_logo.png' %}" rel='shortcut icon' type='image/png'>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="author" content="Alberto Pou">
            <meta name="description" content="Rent your boat in Mallorca">

            <!-- Open Graph Data -->
            <meta property="og:title" content="Boats & Joy"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="https://boatsandjoy.herokuapp.com/"/>
            <meta property="og:description" content="Rent your boat in Mallorca"/>
            <meta property="og:site_name" content="Boats & Joy"/>
            <meta property="og:image" content="{% static 'img/small_logo.png' %}"/>

            <!-- Twitter Card data -->
            <meta name="twitter:card" content="Boats & Joy">
            <meta name="twitter:title" content="Boats & Joy">
            <meta name="twitter:description" content="Rent your boat in Mallorca">
            <meta name="twitter:creator" content="@bertini_36">

        {% endblock headers %}

        {% block styles %}

            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type=text/css">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

            <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.6.2/css/font-awesome.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/libs/noty.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/libs/themes/nest.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/libs/purecookie.css' %}"/>

            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        {% endblock styles %}

        {% render_block 'css' %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="container">

            {% include 'partials/navbar.html' %}

            {% block content %}{% endblock content %}

        </div>

        <div style="width:100%;text-align:center;margin-top:calc(10% + 30px);">
            <a style="font-size:28px;font-family:OpenSans, arial, 'sans-serif';"></a>
        </div>

        {% include 'partials/footer.html' %}

        {% block scripts %}

            <script src="{% static 'js/libs/jquery.js' %}"></script>
            <script src="{% static 'js/libs/popper.min.js' %}"></script>
            <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/libs/axios.min.js' %}"></script>
            <script src="{% static 'js/libs/noty.min.js' %}"></script>
            <script src="{% static 'js/libs/purecookie.js' %}" async></script>

            <script src="{% static 'js/constants.js' %}"></script>
            <script src="{% static 'js/utils.js' %}"></script>

        {% endblock scripts %}

        {% render_block 'js' %}

    </body>

</html>
