{% load i18n %}

<div style="margin-bottom: 5%">
    <div>

        <p style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:24px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:22px;text-align:center; color: #555;">
            {% blocktrans %}
                Thank you for rent your boat with us!
            {% endblocktrans %}
        </p>

        <p style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:24px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:22px;text-align:center; color: #555;">
            <strong>{% trans 'Booking locator' %}: {{ booking.locator }}</strong><br>
            {% trans 'Booking for' %} {{ booking.date }} {% trans 'from' %} {{ booking.checkin_hour }} {% trans 'to' %} {{ booking.checkout_hour }} <br>
            {% trans 'We advise arriving half an hour earlier' %}
        </p>

        <p style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:24px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:22px;text-align:center; color: #555;">
            <strong>{{ boat.name }}</strong><br>
            {{ boat.description }}
        </p>

        <p style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:24px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:22px;text-align:center; color: #555;">
            <ul>
                <li>
                    <strong>{% trans 'Telephone' %}</strong><br>
                    {% blocktrans %}
                        Our telephone service hours are from 8 a.m. to 9 p.m. <br>
                        +34 722 333 428
                    {% endblocktrans %}
                </li>
                <li style="margin-top: 2%">
                    <strong>{% trans 'Email' %}</strong> <br>
                    info@boatsandjoy.com
                </li>
                <li style="margin-top: 2%">
                    <strong>{% trans 'Company address' %}</strong> <br>
                    C/Omelades 2A 2º 1ª 07012 Palma de Mallorca
                </li>
                <li style="margin-top: 2%">
                    <strong>{% trans 'Social networks' %}</strong> <br>
                    <a href="" style="color: #212529"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/boatsandjoy/" style="color: #212529"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </p>

    </div>
</div>
